/* STYLES */

body {
    background: rgb(20, 46, 20);
    color: darksalmon;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 120px;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 110px;
}
h2{
    font-size: 40px;
}

h3{
font-size: 40px;

}

h4{
font-size: 35px;

}

main {
max-width: 680px;
margin-left: 200px;

}